<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Site-dentista 04</title>

	<link rel="stylesheet" type="text/css" href="css/websites-goias.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	
	<script src="js/jquery.js"></script>
	<script src="js/websites-goias.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
</head>
<body>

	<header class="wsg-header wsg-header_horizontal">
		<div class="wsg-header_top">
			<div class="wsg-container">
				<div class="wsg-flex">
					<a href="index.html" class="wsg-logo"><figure>
						<img src="img/wsg-logo.png" alt="">
					</figure></a>

					<div class="wsg-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>

					<nav class="wsg-menu_principal">
						<ul class="wsg-lista-inline">
							<li><a href="index.html">home</a></li>
							<li><a href="empresa.html">empresa</a></li>
							<li><a href="servicos.html">servicos</a></li>
							<li><a href="blog.html">blog</a></li>
							<li><a href="contato.html">contato</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="wsg-header_bottom">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-phone-2"></span>
							<div>
								<h4>Ligue-nos</h4>
								<p><a href="" target="_blank">(01) 123 456 7890</a></p>
							</div>
						</div>
					</div>
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-mail-2"></span>
							<div>
								<h4>Anotação de livro</h4>
								<p><a href="" target="_blank">info@example.com</a></p>
							</div>
						</div>
					</div>
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-clock"></span>
							<div>
								<h4>Horário de funcionamento</h4>
								<p>Seg-Sex: 8:00 - 17:00</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="wsg-404_erro">
		<div class="wsg-container">
			<h1>Erro 404 - Página não encontrada.</h1>
		</div>
	</section>

	<footer class="wsg-footer">
		<div class="wsg-footer_top">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-6">
						<a href="index.html" class="wsg-logo"><figure>
							<img src="img/wsg-logo.png" alt="">
						</figure></a>
						<p>Fundado em 2000 por Dr, odontólogo formada pela UFG. com estrutura ampla, moderna e equipe de profissionais altamente qualificada, conquista cada vez mais o público.</p>
						<ul class="wsg-midias-sociais wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-google-plus"></a></li>
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
						</ul>
					</div>
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-6">
						<h3>Contate-Nos</h3>

						<div class="wsg-flex">
							<span class="flaticon-phone-2"></span>
							<div>
								<h4>Ligue para nós</h4>
								<p><a href="" target="_blank">+55 (11) 2346-7890</a></p>
							</div>
						</div>
						<div class="wsg-flex">
							<span class="flaticon-mail-2"></span>
							<div>
								<h4>Envie-nos uma mensagem</h4>
								<p><a href="" target="_blank">contato@seudominio.com.br</a></p>
							</div>
						</div>
						<div class="wsg-flex">
							<span class="flaticon-local-2"></span>
							<div>
								<p>Goiânia, n° 01 Qd.01 Rua 01 Lt.01 Sala 010 Ed. Exemplo X</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wsg-footer_bottom">
			<div class="wsg-container">
				<div class="wsg-cto">
					<p>Copyright 2018 todos os direitos reservados</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
<!-- wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-12f wsg-box_tl-12f -->
<!-- wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-12 -->