<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Site-dentista 04</title>

	<link rel="stylesheet" type="text/css" href="css/websites-goias.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="css/blog.css">
	<link rel="stylesheet" type="text/css" href="css/blog-interna.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	
	<script src="js/jquery.js"></script>
	<script src="js/websites-goias.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
</head>
<body>

	<header class="wsg-header wsg-header_horizontal">
		<div class="wsg-header_top">
			<div class="wsg-container">
				<div class="wsg-flex">
					<a href="index.html" class="wsg-logo"><figure>
						<img src="img/wsg-logo.png" alt="">
					</figure></a>

					<div class="wsg-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>

					<nav class="wsg-menu_principal">
						<ul class="wsg-lista-inline">
							<li><a href="index.html">home</a></li>
							<li><a href="empresa.html">empresa</a></li>
							<li><a href="servicos.html">servicos</a></li>
							<li><a href="blog.html">blog</a></li>
							<li><a href="contato.html">contato</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="wsg-header_bottom">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-phone-2"></span>
							<div>
								<h4>Ligue-nos</h4>
								<p><a href="" target="_blank">+55 (11) 2346-7890</a></p>
							</div>
						</div>
					</div>
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-mail-2"></span>
							<div>
								<h4>Anotação de livro</h4>
								<p><a href="" target="_blank">contato@seudominio.com.br</a></p>
							</div>
						</div>
					</div>
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-clock"></span>
							<div>
								<h4>Horário de funcionamento</h4>
								<p>Seg-Sex: 08:00 - 18:00</p>
								<p>Sab: 08:00 - 14:00</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="wsg-breadcrumbs">
		<div class="wsg-container">
			<div class="wsg-flex">
				<h1>O momento certo de levar seu filho ao dentista</h1>
				<p>O momento certo de levar seu filho ao dentista - <a href="index.html">Home</a></p>
			</div>
		</div>
	</section>

	<section class="wsg-blog_01">
		<div class="wsg-container">
			<div class="wsg-flex">
				<div class="wsg-box_8 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-8">
					<article class="wsg-blog-interna_item">
							<figure>
							<img src="img/crianca-dentista.jpg" alt="" title="">
						</figure>

						<h3>O momento certo de levar seu filho ao dentista</h3>

						<p>Não existe uma idade fixa para levar seu filho a primeira vez ao dentista. O ideal é que desde cedo o tratamento odontológico seja preventivo, um acompanhamento atencioso com os primeiros dentes, cuidando para que não venham a ter algum problema. Alguns meses após o nascimento da criança pode-se observar em algumas delas, febre, irritação</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam nam corrupti accusamus ex ullam, suscipit illum nesciunt, facere velit enim. Architecto error expedita aspernatur repudiandae, officiis fuga. Quam dolorem quo ad, minima perferendis doloribus?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam nam corrupti accusamus ex ullam, suscipit illum nesciunt, facere velit enim. Architecto error expedita aspernatur repudiandae, officiis fuga. Quam dolorem quo ad, minima perferendis doloribus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam nam corrupti accusamus ex ullam, suscipit illum nesciunt, facere velit enim. Architecto error expedita aspernatur repudiandae, officiis fuga. Quam dolorem quo ad, minima perferendis doloribus?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam nam corrupti accusamus ex ullam, suscipit illum nesciunt, facere velit enim. Architecto error expedita aspernatur repudiandae, officiis fuga. Quam dolorem quo ad, minima perferendis doloribus?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam nam corrupti accusamus ex ullam, suscipit illum nesciunt, facere velit enim. Architecto error expedita aspernatur repudiandae, officiis fuga. Quam dolorem quo ad, minima perferendis doloribus?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum aperiam nam corrupti accusamus ex ullam, suscipit illum nesciunt, facere velit enim. Architecto error expedita aspernatur repudiandae, officiis fuga. Quam dolorem quo ad, minima perferendis doloribus?</p>
					</article>
				</div>
				<aside class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-4">
					<div class="wsg-buscar">
						<h3>Oque está procurando?</h3>
						<form action="">
							<input type="text">
							<button class="flaticon-search"></button>
						</form>
					</div>
					<div class="wsg-categorias">
						<h3>Categoria</h3>
						<ul>
							<li class="flaticon-arrow-right"><a href="blog-interna.html">Endodontia</a></li>
							<li class="flaticon-arrow-right"><a href="blog-interna.html">Estética</a></li>
							<li class="flaticon-arrow-right"><a href="blog-interna.html">Higiene Bucal</a></li>
							<li class="flaticon-arrow-right"><a href="blog-interna.html">Implantodontia</a></li>
							<li class="flaticon-arrow-right"><a href="blog-interna.html">Ortodontia</a></li>
						</ul>
					</div>
					<div class="wsg-posts-popular">
						<h3>Posts populares</h3>
						<div class="wsg-flex">
							<a href="blog-interna.html">
								<figure><img src="img/crianca-dentista.jpg" alt="" title=""></figure>
							</a>
							<div>
								<h4><a href="blog-interna.html">O momento certo de levar seu filho ao dentista</a></h4>
								<p><a href="blog-interna.html">ORTODONTIA</a></p>
							</div>
						</div>
						<div class="wsg-flex">
							<a href="blog-interna.html">
								<figure><img src="img/gestantes.jpg" alt="" title=""></figure>
							</a>
							<div>
								<h4><a href="blog-interna.html">Gravidez e os cuidados odontológicos</a></h4>
								<p><a href="blog-interna.html">HIGIENE BUCAL</a></p>
							</div>
						</div>
						<div class="wsg-flex">
							<a href="blog-interna.html">
								<figure><img src="img/canal.jpg" alt="" title=""></figure>
							</a>
							<div>
								<h4><a href="blog-interna.html">O temido tratamento de “canal”, mais tranquilo do que você imagina!</a></h4>
								<p><a href="blog-interna.html">ENDODONTIA</a></p>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</section>

	<section class="wsg-06">
		<div class="wsg-container">
			<div class="wsg-cto">
				<div class="wsg-titulo_1">
					<h3>Postagens relacionadas</h3>
				</div>
			</div>

			<div class="wsg-flex">
				<div class="wsg-box_3 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-3 wsg-box_tl-3">
					<div class="wsg-06_item">
						<a href="">
							<figure>
								<img src="img/gestantes.jpg" alt="" title="">
							</figure>
						</a>
						<div>
							<h2><a href="blog-interna.html">Gravidez e os cuidados odontológicos</a></h2>
						</div>
					</div>
				</div>
				<div class="wsg-box_3 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-3 wsg-box_tl-3">
					<div class="wsg-06_item">
						<a href="blog-interna.html">
							<figure>
								<img src="img/canal.jpg" alt="" title="">
							</figure>
						</a>
						<div>
							<h2><a href="blog-interna.html">O temido tratamento de “canal”, mais tranqüilo do que você imagina!</a></h2>
						</div>
					</div>
				</div>
				<div class="wsg-box_3 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-3 wsg-box_tl-3">
					<div class="wsg-06_item">
						<a href="blog-interna.html">
							<figure>
								<img src="img/higiene-bucal.jpg" alt="" title="">
							</figure>
						</a>
						<div>
							<h2><a href="blog-interna.html">E você, sabe o que é necessário para uma boca saudável?</a></h2>
						</div>
					</div>
				</div>
				<div class="wsg-box_3 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-3 wsg-box_tl-3">
					<div class="wsg-06_item">
						<a href="blog-interna.html">
							<figure>
								<img src="img/implante-1.jpg" alt="" title="">
							</figure>
						</a>
						<div>
							<h2><a href="blog-interna.html">Implantes Dentários, tirando as dúvidas e conhecendo melhor!</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wsg-cta-paginas">
		<div class="wsg-container">
			<div class="wsg-cto">
				<h2>Consulte nosso especialista e obtenha agendamento rápido</h2>
				<ul class="wsg-lista-inline">
					<li class="flaticon-mail-2">Entre em contato: <a href="">(11) 2346-7890</a></li>
					<li class="flaticon-phone-2">Email: <a href=""> contato@seudominio.com.br</a></li>
				</ul>
				<a href="contato.html" class="wsg-btn wsg-btn-1"><span>Entre em contato</span></a>
			</div>
		</div>
	</section>

	<footer class="wsg-footer">
		<div class="wsg-footer_top">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-6">
						<a href="index.html" class="wsg-logo"><figure>
							<img src="img/wsg-logo.png" alt="">
						</figure></a>
						<p>Fundado em 2000 por Dr, odontólogo formada pela UFG. com estrutura ampla, moderna e equipe de profissionais altamente qualificada, conquista cada vez mais o público.</p>
						<ul class="wsg-midias-sociais wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-google-plus"></a></li>
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
						</ul>
					</div>
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-6">
						<h3>Contate-Nos</h3>

						<div class="wsg-flex">
							<span class="flaticon-phone-2"></span>
							<div>
								<h4>Ligue para nós</h4>
								<p><a href="" target="_blank">+55 (11) 2346-7890</a></p>
							</div>
						</div>
						<div class="wsg-flex">
							<span class="flaticon-mail-2"></span>
							<div>
								<h4>Envie-nos uma mensagem</h4>
								<p><a href="" target="_blank">contato@seudominio.com.br</a></p>
							</div>
						</div>
						<div class="wsg-flex">
							<span class="flaticon-local-2"></span>
							<div>
								<p>Goiânia, n° 01 Qd.01 Rua 01 Lt.01 Sala 010 Ed. Exemplo X</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wsg-footer_bottom">
			<div class="wsg-container">
				<div class="wsg-cto">
					<p>Copyright 2018 todos os direitos reservados</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
<!-- wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-12f wsg-box_tl-12f -->
<!-- wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-12 -->