<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Site-dentista 04</title>

	<link rel="stylesheet" type="text/css" href="css/websites-goias.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mobile.css">
	
	<script src="js/jquery.js"></script>
	<script src="js/websites-goias.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/carousel.js"></script>
</head>
<body>

	<header class="wsg-header wsg-header_horizontal">
		<div class="wsg-header_top">
			<div class="wsg-container">
				<div class="wsg-flex">
					<a href="index.html" class="wsg-logo"><figure>
						<img src="img/wsg-logo.png" alt="">
					</figure></a>

					<div class="wsg-btn_menu">
						<hr>
						<hr>
						<hr>
					</div>

					<nav class="wsg-menu_principal">
						<ul class="wsg-lista-inline">
							<li><a href="index.html">home</a></li>
							<li><a href="empresa.html">empresa</a></li>
							<li><a href="servicos.html">servicos</a></li>
							<li><a href="blog.html">blog</a></li>
							<li><a href="contato.html">contato</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="wsg-header_bottom">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-phone-2"></span>
							<div>
								<h4>Ligue-nos</h4>
								<p><a href="" target="_blank">+55 (11) 2346-7890</a></p>
							</div>
						</div>
					</div>
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-mail-2"></span>
							<div>
								<h4>Anotação de livro</h4>
								<p><a href="" target="_blank">contato@seudominio.com.br</a></p>
							</div>
						</div>
					</div>
					<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-4 wsg-box_tp-4 wsg-box_tl-4">
						<div>
							<span class="flaticon-clock"></span>
							<div>
								<h4>Horário de funcionamento</h4>
								<p>Seg-Sex: 08:00 - 18:00</p>
								<p>Sab: 08:00 - 14:00</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="wsg-banner">
		<div class="wsg-banner_item">
			<figure>
				<img src="img/banner.jpg" alt="" title="">
			</figure>
			<div class="wsg-banner_conteudo">
				<div class="wsg-container">
					<h2>Você conhece a Bichectomia?</h2>
					<p>Saiba mais sobre a cirurgia que virou febre entre as pessoas que desejam ter um rosto mais fino.</p>
					<a href="contato.html" class="wsg-btn wsg-btn-1"><span>Saiba mais</span></a>
				</div>
			</div>
		</div>	
		<div class="wsg-banner_item">
			<figure>
				<img src="img/banner-1.jpg" alt="" title="">
			</figure>
			<div class="wsg-banner_conteudo">
				<div class="wsg-container">
					<h2>Melhorando sua autoestima</h2>
					<p>Venha conhecer as facetas, peças de porcelana utilizadas para recriar a aparência natural dos dentes.</p>
					<a href="contato.html" class="wsg-btn wsg-btn-1"><span>Saiba mais</span></a>
				</div>
			</div>
		</div>	
	</section>

	<section class="wsg-01">
		<div class="wsg-container">
			<div class="wsg-cto">
				<div class="wsg-titulo_1">
					<h4>Conheça nossos serviços</h4>
					<h3>Explore os serviços de atendimento odontológico</h3>
				</div>
			</div>

			<div class="wsg-flex">
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-4 wsg-box_tl-4">
					<figure>
						<img src="img/servicos-icon5.png" alt="" title="">
					</figure>
					<h4><a href="">Ortodontia</a></h4>
					<p>Ortodontia e Ortopedia Funcional dos maxilares é a especialidade odontológica responsável pela correção das posições dos dentes e dos ossos maxilares nas fases de crescimento e adulta.</p>
					<a href="servicos.html" class="wsg-link_simples">Saiba mais</a>
				</div>
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-4 wsg-box_tl-4">
					<figure>
						<img src="img/servicos-icon3.png" alt="" title="">
					</figure>
					<h4><a href="">Implantodontia</a></h4>
					<p>Implantodontia é a especialidade da Odontologia que restaura espaços ausentes de dentes através da implantação de dentes protéticos.</p>
					<a href="servicos.html" class="wsg-link_simples">Saiba mais</a>
				</div>
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-4 wsg-box_tl-4">
					<figure>
						<img src="img/servicos-icon6.png" alt="" title="">
					</figure>
					<h4><a href="">Endodontia</a></h4>
					<p>A Endodontia (tratamento de canal) é a especialidade da odontologia responsável pelo estudo da polpa dentária, de todo o sistema de canais radiculares e dos tecidos periapicais, bem como das doenças que os afligem.</p>
					<a href="servicos.html" class="wsg-link_simples">Saiba mais</a>
				</div>
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-4 wsg-box_tl-4">
					<figure>
						<img src="img/servicos-icon1.png" alt="" title="">
					</figure>
					<h4><a href="">Odontopediatria</a></h4>
					<p>Parte da Odontologia que cuida da saúde bucal de crianças e bebês. Crianças precisam de maior atenção e psicologia para que a consulta ao dentista não seja traumática e não vire uma tortura…</p>
					<a href="servicos.html" class="wsg-link_simples">Saiba mais</a>
				</div>
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-4 wsg-box_tl-4">
					<figure>
						<img src="img/servicos-icon2.png" alt="" title="">
					</figure>
					<h4><a href="">Odontologia Estética</a></h4>
					<p>É a parte da Odontologia que atua na cosmética, restauração dental, clareamentos dos dentes, uso de resinas diretas, facetas, lentes de contatos dentais e restaurações estéticas…</p>
					<a href="servicos.html" class="wsg-link_simples">Saiba mais</a>
				</div>
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-4 wsg-box_tl-4">
					<figure>
						<img src="img/servicos-icon4.png" alt="" title="">
					</figure>
					<h4><a href="">Cirurgia do Dente Siso</a></h4>
					<p>A extração do siso, o último dente da arcada dentária que geralmente cresce depois da fase de evolução dentária e acaba por trazer certas complicações para o indivíduo.</p>
					<a href="servicos.html" class="wsg-link_simples">Saiba mais</a>
				</div>
			</div>
		</div>
	</section>

	<section class="wsg-02">
		<div class="wsg-flex">
			<div class="wsg-box_6f wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-12f wsg-box_tl-6f">
				<figure>
					<img src="img/wsg-02.jpg" alt="" title="">
				</figure>
			</div>
			<div class="wsg-box_6f wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-12f wsg-box_tl-6f">
				<div class="wsg-02_item">
					<div class="wsg-titulo_1">
						<h4>Sobre Nós</h4>
						<h3>Conheça nossa história</h3>
					</div>
					<p>Fundado em 2000 por Dr, odontólogo formada pela UFG. com estrutura ampla, moderna e equipe de profissionais altamente qualificada, conquista cada vez mais o público. Para melhor atender as necessidades dos pacientes, Dr decidiu associar qualidade à agilidade no tratamento odontológico. Assim nasceu nossa empresa, uma clínica referência nacional e internacional em odontologia estética, estética facial e qualidade de vida. Você se surpreenderá com nossa ampla estrutura, com espaços agradáveis e aconchegantes. Oferecendo o que há de mais moderno em Odontologia.</p>

					<div class="wsg-empresa_item">
						<figure>
							<img src="img/wsg-02-icon1.jpg" alt="" title="">
						</figure>
						<div>
							<h3>Tratamentos Rápidos</h3>
							<p>Nosso paciente faz o tratamento em um só dia, chega pela manhã e após desfrutar um desjejum muito especial tem seu tratamento iniciado em um clima agradável onde ele escolhe até a música que quer ouvir, tornando assim o Dental Day um dia de repouso e tranqüilidade. </p>
						</div>
					</div>

					<div class="wsg-empresa_item">
						<figure>
							<img src="img/wsg-02-icon2.jpg" alt="" title="">
						</figure>
						<div>
							<h3>Conforto e Aconchego</h3>
							<p>Nossos ambientes foram desenvolvidos pensando em cada detalhe para o seu conforto. Oferecemos um atendimento personalizado e humanizado e um espaço aconchegante, elegante e acolhedor idealizado para receber você. </p>
						</div>
					</div>

					<div class="wsg-empresa_item">
						<figure>
							<img src="img/wsg-02-icon3.jpg" alt="" title="">
						</figure>
						<div>
							<h3>Equipamento de Ultima Geração</h3>
							<p>A odontologia está cada vez mais à frente e, atualmente, encontra-se lado a lado com a robótica, visando melhor tratamento, otimização de tempo, custo benefício e o mais importante: gerar comodidade e tranquilidade aos pacientes e aperfeiçoar o trabalho dos profissionais. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wsg-03">
		<div class="wsg-container">
			
			<div class="wsg-cto">
				<div class="wsg-titulo_1">
					<h4>Nossa Equipe</h4>
					<h3>Conheça nosso time de especialistas</h3>
				</div>
			</div>

			<div class="wsg-03_carousel">
				<div class="wsg-03_carousel-item">
					<figure>
						<img src="img/equipe-3.jpg" alt="" title="">
					</figure>
					<div>
						<h2><a href="">Dra. Juliana Rodrigues</a></h2>
						<h4>Cirurgiã Dentista</h4>
						<ul class="wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-mail-1"></a></li>
						</ul>
					</div>
				</div>
				<div class="wsg-03_carousel-item">
					<figure>
						<img src="img/equipe-2.jpg" alt="" title="">
					</figure>
					<div>
						<h2><a href="">Dr. Geovane de Mattos</a></h2>
						<h4>Cirurgião Dentista</h4>
						<ul class="wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-mail-1"></a></li>
						</ul>
					</div>
				</div>
				<div class="wsg-03_carousel-item">
					<figure>
						<img src="img/equipe-1.jpg" alt="" title="">
					</figure>
					<div>
						<h2><a href="">Dr. Paulo Santos</a></h2>
						<h4>Cirurgião Dentista</h4>
						<ul class="wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
							<li><a href="" target="_blank" class="flaticon-mail-1"></a></li>
						</ul>
					</div>
				</div>
				<div class="wsg-03_carousel-item">
					<figure>
						<img src="img/equipe-4.jpg" alt="" title="">
					</figure>
					<div>
						<h2><a href="">Dr. Bruno Rosa</a></h2>
						<h4>Cirurgião Dentista</h4>
						<ul class="wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
							<li><a href="" target="_blank" class="flaticon-mail-1"></a></li>
						</ul>
					</div>
				</div>
				<div class="wsg-03_carousel-item">
					<figure>
						<img src="img/equipe-5.jpg" alt="" title="">
					</figure>
					<div>
						<h2><a href="">Dr. Carlos Fernandes</a></h2>
						<h4>Cirurgião Dentista</h4>
						<ul class="wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
							<li><a href="" target="_blank" class="flaticon-mail-1"></a></li>
						</ul>
					</div>
				</div>
				<div class="wsg-03_carousel-item">
					<figure>
						<img src="img/equipe-6.jpg" alt="" title="">
					</figure>
					<div>
						<h2><a href="">Dr. Geraldo Castro</a></h2>
						<h4>Cirurgião Dentista</h4>
						<ul class="wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
							<li><a href="" target="_blank" class="flaticon-mail-1"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wsg-04">
		<div class="wsg-flex">
			<div class="wsg-box_1_5 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-4 wsg-box_tl-1_5">
				<h4>200</h4>
				<h5>Novos sorrisos</h5>
			</div>
			<div class="wsg-box_1_5 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-4 wsg-box_tl-1_5">
				<h4>6</h4>
				<h5>Profissionais</h5>
			</div>
			<div class="wsg-box_1_5 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-4 wsg-box_tl-1_5">
				<h4>200</h4>
				<h5>Clientes</h5>
			</div>
			<div class="wsg-box_1_5 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-4 wsg-box_tl-1_5">
				<h4>300</h4>
				<h5>Procedimentos bem sucedidos</h5>
			</div>
			<div class="wsg-box_1_5 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-4 wsg-box_tl-1_5">
				<h4>70</h4>
				<h5>Cirurgias estéticas</h5>
			</div>
		</div>
	</section>

	<section class="wsg-05">
		<div class="wsg-container">
			<div class="wsg-cto">
				<div class="wsg-titulo_1">
					<h4>Depoimentos</h4>
					<h3>Veja o que nossos clientes dizem</h3>
				</div>
			</div>

			<div class="wsg-05_carousel">
				<div class="wsg-05_carousel-item">
					<figure>
						<img src="img/1.jpg" alt="" title="">
					</figure>
					<div>
						<h3>Jessica Lima</h3>
						<p>Excelentes profissionais, super indico ! Agradeço a toda equipe de cirurgia que fizeram a extração dos meus dentes cisos, e tambem a Equipe de Estetica que foram super atenciosos.</p>
					</div>
				</div>
				<div class="wsg-05_carousel-item">
					<figure>
						<img src="img/7.jpg" alt="" title="">
					</figure>
					<div>
						<h3>Rafael Silva</h3>
						<p>Ótimos profissionais, muito atenciosos e competentes. Serviço de qualidade, preço justo e pagamento facilitado. Vale a pena conferir o trabalho deles.</p>
					</div>
				</div>
				<div class="wsg-05_carousel-item">
					<figure>
						<img src="img/4.jpg" alt="" title="">
					</figure>
					<div>
						<h3>Barbara Arantes</h3>
						<p>Pessoal super atencioso e prestativo. Gostei bastante do atendimento, realizou a extração dos meus quatro cisos em uma unica sessão.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="wsg-cta">
		<div class="wsg-container">
			<h2>Consulte nosso especialista e obtenha agendamento rápido</h2>
			<ul class="wsg-lista-inline">
				<li class="flaticon-mail-2">Entre em contato: <a href="">(11) 2346-7890</a></li>
				<li class="flaticon-phone-2">Email: <a href=""> contato@seudominio.com.br</a></li>
			</ul>

			<a href="contato.html" class="wsg-btn wsg-btn-2"><span>Entre em contato</span></a>
		</div>
	</section>

	<section class="wsg-06">
		<div class="wsg-container">
			<div class="wsg-cto">
				<div class="wsg-titulo_1">
					<h4>Confira as ultimas notícias sobre odontologia.</h4>
					<h3>Últimas Notícias</h3>
				</div>
			</div>

			<div class="wsg-flex">
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-4 wsg-box_tl-4">
					<div class="wsg-06_item">
						<a href="">
							<figure>
								<img src="img/crianca-dentista.jpg" alt="" title="">
							</figure>
						</a>
						<div>
							<h2><a href="">O momento certo de levar seu filho ao dentista</a></h2>
							<p>Não existe uma idade fixa para levar seu filho a primeira vez ao dentista. O ideal é que desde cedo o tratamento odontológico seja preventivo, um acompanhamento atencioso com os primeiros dentes, cuidando para que não venham a ter algum problema.</p>
						</div>
					</div>
				</div>
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-4 wsg-box_tl-4">
					<div class="wsg-06_item">
						<a href="">
							<figure>
								<img src="img/gestantes.jpg" alt="" title="">
							</figure>
						</a>
						<div>
							<h2><a href="">Gravidez e os cuidados odontológicos</a></h2>
							<p>Sim, as grávidas podem e devem fazer acompanhamento odontológico! Durante a gravidez os hormônios sofrem grandes variações, o que pode afetar a saúde bucal, fazendo assim muito necessária a visita ao consultório odontológico para que o dentista cuide e oriente sobre essa fase...</p>
						</div>
					</div>
				</div>
				<div class="wsg-box_4 wsg-box_cp-12 wsg-box_cl-6 wsg-box_tp-4 wsg-box_tl-4">
					<div class="wsg-06_item">
						<a href="">
							<figure>
								<img src="img/canal.jpg" alt="" title="">
							</figure>
						</a>
						<div>
							<h2><a href="">O temido tratamento de “canal”, mais tranqüilo do que você imagina!</a></h2>
							<p>Os dentes são estruturas duras que em seu interior possuem o que chamamos de canais radiculares. Preenchendo este canal, temos a polpa dentária (parte vital), composta por nervos e vasos sanguíneos que auxiliam no crescimento e desenvolvimento do dente.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wsg-07">
		<div class="wsg-container">
			<div class="wsg-07_carousel">
				<div class="wsg-07_carousel-item">
					<figure>
						<img src="img/con-1.jpg" alt="" title="">
					</figure>
				</div>
				<div class="wsg-07_carousel-item">
					<figure>
						<img src="img/con-2.jpg" alt="" title="">
					</figure>
				</div>
				<div class="wsg-07_carousel-item">
					<figure>
						<img src="img/con-3.jpg" alt="" title="">
					</figure>
				</div>
				<div class="wsg-07_carousel-item">
					<figure>
						<img src="img/con-4.jpg" alt="" title="">
					</figure>
				</div>
				<div class="wsg-07_carousel-item">
					<figure>
						<img src="img/con-5.jpg" alt="" title="">
					</figure>
				</div>
				<div class="wsg-07_carousel-item">
					<figure>
						<img src="img/con-6.jpg" alt="" title="">
					</figure>
				</div>
			</div>
		</div>
	</section>

	<footer class="wsg-footer">
		<div class="wsg-footer_top">
			<div class="wsg-container">
				<div class="wsg-flex">
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-6">
						<a href="index.html" class="wsg-logo"><figure>
							<img src="img/wsg-logo.png" alt="">
						</figure></a>
						<p>Fundado em 2000 por Dr, odontólogo formada pela UFG. com estrutura ampla, moderna e equipe de profissionais altamente qualificada, conquista cada vez mais o público.</p>
						<ul class="wsg-midias-sociais wsg-lista-inline">
							<li><a href="" target="_blank" class="flaticon-google-plus"></a></li>
							<li><a href="" target="_blank" class="flaticon-instagram"></a></li>
							<li><a href="" target="_blank" class="flaticon-facebook"></a></li>
						</ul>
					</div>
					<div class="wsg-box_6 wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-6">
						<h3>Contate-Nos</h3>

						<div class="wsg-flex">
							<span class="flaticon-phone-2"></span>
							<div>
								<h4>Ligue para nós</h4>
								<p><a href="" target="_blank">+55 (11) 2346-7890</a></p>
							</div>
						</div>
						<div class="wsg-flex">
							<span class="flaticon-mail-2"></span>
							<div>
								<h4>Envie-nos uma mensagem</h4>
								<p><a href="" target="_blank">contato@seudominio.com.br</a></p>
							</div>
						</div>
						<div class="wsg-flex">
							<span class="flaticon-local-2"></span>
							<div>
								<p>Goiânia, n° 01 Qd.01 Rua 01 Lt.01 Sala 010 Ed. Exemplo X</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wsg-footer_bottom">
			<div class="wsg-container">
				<div class="wsg-cto">
					<p>Copyright 2018 todos os direitos reservados</p>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
<!-- wsg-box_cp-12f wsg-box_cl-12f wsg-box_tp-12f wsg-box_tl-12f -->
<!-- wsg-box_cp-12 wsg-box_cl-12 wsg-box_tp-12 wsg-box_tl-12 -->